@font-face {
  font-family: "Play";
  src: url("../fonts/play-regular-webfont.woff2") format("woff2"), url("../fonts/play-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("../fonts/play-bold-webfont.woff2") format("woff2"), url("../fonts/play-bold-webfont.woff") format("woff");
  font-weight: bold;
  /*700*/
  font-style: normal;
}
html {
  box-sizing: border-box;
}

html, body {
  font-family: "Play", Helvetica, sans-serif;
  background: #f5f5f5;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper__content {
  flex: 1;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  padding: 17px 40px;
  background: #e01f3d;
  border-radius: 26px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.button:hover {
  background-color: #ca1b36;
}

.hero {
  position: relative;
  background-color: #f5f5f5;
  padding: 23px 0 36px 0;
  height: 100vh;
  min-height: 650px;
  color: #000000;
}
.hero:before {
  content: "";
  position: absolute;
  display: block;
  height: 42px;
  width: 10px;
  background-color: #999999;
  bottom: -18px;
  right: 28.2%;
  transform: rotateZ(45deg);
}
.hero__title-section {
  width: 46%;
  position: relative;
  z-index: 2;
}
.hero .logo {
  width: 42px;
  height: 42px;
}
.hero__main-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.hero__subtitle {
  font-size: 18px;
  margin-bottom: 54px;
  padding-right: 10%;
}
.hero__icons-section {
  z-index: 2;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url(../../img/content/headphones.png) right center/50% auto no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__list .menu__item {
  margin-right: 28px;
  font-size: 16px;
}
.header .menu__list .menu__item:last-child {
  margin-right: 0;
}
.header .phone {
  font-size: 21px;
  display: flex;
  align-items: center;
}
.header .phone__icon-item {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.features {
  display: flex;
}
.features__item {
  margin-right: 38px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}
.feature__icon {
  width: 45px;
  margin-right: 7px;
}
.feature__text {
  font-size: 16px;
  max-width: 89px;
}