
html {
    box-sizing: border-box;
    font-size: 16px;
    @include veryLarge {
        font-size: 15px;
    }
    @include large {
        font-size: 14px;
    }
    @include tablets {
        font-size: 15px;
    }
}

html, body {
    font-family: 'Play', Helvetica, sans-serif;
    background: #f5f5f5;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
    color: #666666;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.container {
    width: 94%;
    margin: 0 auto;
    position: relative;
    max-width: $containerWidth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

.wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
    }
}

img {
    display: block;
    max-width: 100%;
}