.hamburger {
    width: 24px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    right: 0;
    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    width: 24px;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
}