.param {
    margin-bottom: rem(46px);

    @include phones {
        margin-bottom: rem(34px);
    }
}

.param__list {
    display: flex;
}

.param__item {
    display: flex;
    flex-direction: column;
    margin-right: rem(96px);
    &:last-of-type {
        margin-right: 0;
    }

    @include tablets {
        margin-right: rem(116px);
    }
}

.param__desc {
    font-weight: bold;
    color: #000;
}