.team-section {
    @include tablets {
        justify-content: flex-start;
        padding-top: rem(40px);
    }
}

.team__title {
    margin-bottom: rem(30px);
}

.team__container {
    max-width: 960px;
}

.team__list {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.team__item {
    width: calc(100%/4);
    min-height: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
        width: auto;
        min-height: 0;
        margin-bottom: rem(15px);
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @include phones {
        margin-bottom: rem(2px);
    }
}

.team__link {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        margin-bottom: rem(2px);
    }

    @include phones {
        margin-bottom: rem(4px);
    }
}

.team__link-img {
    width: 9px;
    height: 7px;
    fill: #e01f3d;
}

.team__img {
    margin-bottom: rem(22px);

    @include phones {
        width: 53%;
    }
}

.team__name {
    font-size: rem($baseFontSize);
    font-weight: 700;
    color: #000;

    @include phones {
        font-size: rem(18px);
    }
}

.team__desc {
    max-height: 0;
    text-align: center;
    overflow: hidden;
    transition: max-height .6s;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 263px;
    }
}

.team__open {
    max-height: 100vh;
}

.team__app {
    color: #000000;
    margin-bottom: rem(15px);
}

.rotate {
        transform: rotate(180deg);
}