.benefit {
    text-align: center;

    @include phones {
        display: flex;
        align-items: center;
    }
}

.benefit__image {
    margin-bottom: rem(20px);
    @include tablets {
        margin-bottom: rem(10px);
    }

    @include phones {
        margin-left: rem(10px);
    }
}

.benefit__text {
    line-height: 1.32;

    @include phones {
        text-align: left;
        max-width: 304px;
        margin-left: rem(13px);
        align-self: flex-start;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: $light-grey;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 58px;
    height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: rem(24px);
    color: $black;
    font-weight: bold;
}