.benefit {
    text-align: center;
}

.benefit__image {
    margin-bottom: rem(20px);
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: $light-grey;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 58px;
    height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: rem(24px);
    color: $black;
    font-weight: bold;
}