.dropdown {
    background: #fff;
    width: 100%;
    max-width: 271px;
    height: 281px;
    position: absolute;
    left: -9999px;
    opacity: 0;
    transition: opacity .6s;
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.dropdown__item {
    display: flex;
    color: #000000;
    margin-left: 22px;
}

.dropdown__img {
    width: 33px;
    height: 33px;
    margin-right: 22px;
}

.dropdown__title {
    width: 29%;
}

.dropdown__desc {
    margin-left: 61px;
}

.dropdown__img-item {
    width: 100%;
    height: 100%;
}