.form {
    display: flex;
}

.form__title {
    font-size: rem(18px);
}

.form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(18px);

    &--textarea {
        margin-bottom: rem(21px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    border: solid 3px transparent;

    &--textarea {
        height: 180px;
        resize: none;
    }

    &:focus {
        border-color: #e01f3d;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__buttons {
    margin-top: rem(31px);
}