.hero {
    position: relative;
    background-color: $light-grey;
    padding: 2% 0 3% 0;
    height: 100vh;
    min-height: 650px;
    color: $black;
    width: 100%;

    &:before {
        content: "";
        position: absolute;
        display: block;
        height: 42px;
        width: 10px;
        background-color: #999999;
        bottom: -18px;
        right: 28.2%;
        transform: rotateZ(45deg);
        z-index: 1;
    }
}

.hero__title-section {
    width: 46%;
    position: relative;
    z-index: 2;
}

.hero__title-content {
    display: flex;
    position: relative;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero__main-title {
    line-height: 1.2;
    margin-bottom: rem(20px);
    text-align: left;
}

.hero__subtitle {
    font-size: rem(18px);
    margin-bottom: rem(54px);
    max-width: 343px;
}

.hero__icons-section {
    z-index: 2;
}

.hero__img {
    position: absolute;
    bottom: 50%;
    transform: translateY(58%);
    right: 0;
    width: 54%;
}