.interactive-avatar {
    width: 80px;
    height: 80px;
    position: relative;

    @include phones {
        width: 54px;
        height: 54px;
    }
}

.interactive-avatar__link {
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid transparent;
    border-radius: 50%;
    overflow: hidden;

    &:focus, &:hover {
        border-color: #e01f3d;
        outline: navajowhite;
    }
}

.interactive-avatar--active .interactive-avatar__link {
    border-color: #e01f3d;
    outline: navajowhite;
}
.interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}