.interactive-avatar {
    width: 80px;
    height: 80px;
    border: 6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &--active {
        border-color: #e01f3d;
    }

    @include phones {
        width: 54px;
        height: 54px;
    }
}

.interactive-avatar__link {
    display: block;
    width: 100%;
    height: 100%;
}

.interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}