.product-section {
    background:#f5f5f5;
    flex-direction: row;
}

.product__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 988px;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.product {
    display: flex;
    height: 100%;
    justify-content: space-around;

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.product__list {
    position: relative;
    min-width: 0;
}

.product__item {
    display: flex;
    justify-content: center;
    
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}


.product__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;

    @include tablets {
        width: 100%;
        align-items: center;
    }
}

.product__img {
    display: flex;
    align-items: center;
    width: 51%;
    border-radius: 50%;
    @include tablets {
        justify-content: center;
        margin-bottom: rem(38px);
    }

    @include phones {
        margin-bottom: rem(25px);
        width: 64%;
    }
}

.product__title {
    font-size: rem(36px);
    text-align: left;
    line-height: 1.3;
    margin-bottom: rem(9px);

    @include tablets {
        font-size: rem(30px);
        text-align: center;
    }

    @include phones {
        width: 72%;
        font-size: rem(30px);
    }
}

.product__subtitle {
    width: 85%;
    font-size: rem(16px);
    margin-bottom: rem(39px);
    color: #666666;
    line-height: 1.2;

    @include tablets {
        width: 100%;
        text-align: center;
        margin-bottom: rem(25px);
    }

    @include phones {
        font-size: rem(16px);
        margin-bottom: rem(31px);
    }
}

.product__info {
    display: flex;
}

.product__cost {
    color: #0d0d0d;
    font-size: rem(36px);
    text-transform: uppercase;
    margin-right: rem(25px);
}