.benefits {
    display: flex;

    &-section {
        position: relative;
        &:after {
            content: url(../../../beats/img/content/red_triangle.png);
            position: absolute;
            bottom: -14px;
            left: 7%;
            z-index: 1;
        }
    }

    &__item {
        flex: 1;
        padding: 0 3%;
        position: relative;

        &:before {
            content: url(../../../beats/img/content/circles.png);
            position: absolute;
            top: 30px;
            right: 0;
            transform: translateX(50%);
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;

            &:before {
                display: none;
            }
        }
    }
}
