.button {
    padding: rem(17px) rem(40px);
    background: $red;
    border-radius: 26px;
    color: $white;
    font-size: rem(16px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $darkRed;
    }

    &--theme--transparent {
        background: transparent;
        color: #999999;
        font-size: rem(18px);
        text-transform: none;
        font-weight: 400;

        &:hover {
            color: #e01f3d;
            background: transparent;
        }
    }
}